.main-container {
    min-height: 100vh;
    background: url('../assets/images/utencilios.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
